# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# CodeStream ignored files
/../../infrastructure\.idea/codestream.xml
.idea

kubernetes-manifests/global/ghcrcred-secret.yaml